/* 
bull-frontend main css

Started by Shoaib Merchant
Date: 4th April

To infinity and beyond.

*/

*{
	-webkit-font-smoothing: antialiased;
}

body{
	padding:10px !important;
	
}
.copyright{
	padding-top:50px;
	padding-bottom:25px;
	text-align: center;
	font-size:13px;
}

.top-cog{
	position: absolute;
	top: 2px;
	left: 8.5px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 17px;
	color: #e6e9ed;
	z-index: 20;
}

.top-control{
	width:100% !important;
}

.no-pad{
	padding-left:5px !important;
	padding-right:5px !important;
}

.row-container{
	max-width:1124px !important;
	margin-left: auto;
	margin-right: auto;
}

.pad-top{
	padding-top:12px !important;
}